servicehost/log
ServiceHost/attached
ServiceHost/bin
ServiceHost/obj
ServiceHost/Web.config
Web/node_modules
web/components
web/images
web/img
web/media
web/bin
web/obj
web/Properties
web/scripts
web/vendors
web/pdf-viewer
web/fonts
.vs
.git
*.dll
*.pdb
framework.Identity/bin
framework.Identity/obj
framework.models/bin
framework.models/obj
packages
s.user
*.zip
*.rar
/ServiceHost/Files/Uploads
/CRM.Persistance.EF/bin/Debug
/CRM.Persistance.EF/obj/Debug
/CRM.Repository.MongoDb/bin/Debug
/CRM.Repository.MongoDb/obj/Debug
/Framework.Infrastracture/obj/Debug
/ServiceHost/Properties
/Web/dist/css
/Web/dist
/CRM.Persistance.EF/bin/Release
/CRM.Persistance.EF/obj/Release
/CRM.Repository.MongoDb/bin/Release
/CRM.Repository.MongoDb/obj/Release
/Framework.Infrastracture/obj/Release
/Framework.Helpers/obj/Release
/Framework.Helpers/obj/Debug
Framework.Helpers/obj
*/bin/Debug
*/obj/Debug
/Web/Web.v3.ncrunchproject
/Web/Web.v3.ncrunchproject.user
/_NCrunch_Simple-Angular/Simple-Angular.crunchsolution.cache
/_NCrunch_Simple-Angular/Simple-Angular.executiontimes.cache
